<template>
<div class="d-flex justify-content-center h-100">
  <div class="card card-dashboard">
    <div class="card-header">
      <h3>Reservación para Exequías</h3>
    </div>
    <div class="card-body">
      <strong>Email:</strong>
    </div>
    <div class="card-footer">
      <form class="form" action="" method="post">
        <button class="btn btn-primary btn-xs btn-block">Reservar</button>
      </form>
    </div>
  </div>
</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
